.tvfAction .jqslider .ui-slider {
    background: url(img/sliderBar.png) 0px 0px repeat-x;
    -moz-border-radius: 15px; -webkit-border-radius: 15px; -o-border-radius: 15px; -ms-border-radius: 15px; border-radius: 15px;
}

.tvfAction .jqslider .ui-slider-range {
    background: url(img/sliderBar.png) 0px -12px repeat-x;
}

.tvfAction .jqslider .ui-slider-handle {
    background: url(img/sliderBarhdl.png); width: 15px; height: 29px;
    border: none; top: -0.7em;
}

.tvfAction .jqslider .ui-slider-handle:after {
    position: absolute; background: url(../images/bg-slider-tip.png) no-repeat; top: -50px; left: -24px;
    content: attr(data-value) "\""; width: 63px; text-align: center; padding: 13px 0px 21px 0px;
    display: block; font-size: 1.7em; font-weight: bold; letter-spacing: -1px; color: #333;
    text-shadow: 0px 1px 0px #fff; font-family: "Custom";
}

.tvfAction .jqslider span {
    display: block; font-size: 1.4em; margin-bottom: 30px; font-weight: bold; margin-top: 14px;
}

.tvfAction .jqslider {
    border-right: 1px solid #eee; padding-top: 16px; padding-bottom: 40px; padding-right: 11%; padding-left: 4%;
}

