#productOverlay {

    outline: 9999px solid rgba(0, 0, 0, .5);
    position: absolute;
    top: 64px;
    left: 34%;
    width: 54%;
    padding: 2%;
    height: 200%;
    background: white;
    box-shadow: 0px 0px 40px #666;
    display: none;
    z-index:999;

}

#productOverlay .close{
    text-align:right;
    background: url(img/product/close-panel.png); width: 32px; height: 37px;
}
