
.head{
    background-color:white;
    padding-bottom:10px;
    border-bottom:1px solid #EEE;
}

.head ul{
    margin:5px 0 0;
    padding:0px;
}



.head .pull-right li{
    margin:5px;
    padding:0 15px 0;
    border-right:2px solid #CCC;

}
.head .pull-right li span{
    white-space:nowrap;
    font-family:Arial;
    font-weight:bold;
    color:#666;
}
.head .pull-right li div{
    font: normal 11px Verdana,sans-serif;
    color:lightgrey;
    margin-top:5px;
}
.head .pull-right li a{
    margin:0;
    padding:0 0 0 20px;
    position:relative;
}
.head .pull-right li.last{
    border:0;
}

.head li i{
    position:absolute;
    top:-1px;
    left:2px
}



.head input[type="search"]{
    margin-top:5px;
    padding:7px 7px 7px 30px;
    border: 1px solid #cccccc;
    border-radius:6px;
    font-family:Arial;
    font-size:18px;
    background: transparent url(img/spyglass.png) no-repeat 0 center;
}
.bc{
    background: #fff;
    display: block;
    padding: 0px 24px;
    margin: 10px 0 0;
    line-height: 1em;
}

.bc span {
    margin:0 15px;
    color:#EEE;
}

.bc img{
    margin-top:-5px;
}

.hero {
    font-family:Arial;
    text-align:center;
    vertical-align:middle;
    margin-bottom:40px;
}


.hero h2{
    font-weight:normal;
    font-size:35px;
}
.hero p{
    color:#acacac;
    font-size:19px;
    font-weight:normal;
}
.hero div{
    display:block;
    position:relative;
    clear:both;
    height:226px;
    margin-top:18px;
}
.hero img{
    float:left;
    position:absolute;

}

.hero img.first{
    bottom:5px;
    left:70px;
}

.hero img.second{
    bottom:0;
    left:298px;
}
.hero img.third{
    bottom:0;
    left:569px;
}

.items{
    text-align: center;
}
.items ul {
    margin-left:30px;
}
.items li{
    margin-right:20px;
    padding:0;
    width:206px;
}

.items .title{
    display: block;
    color: #555;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    font-weight: bold;
    padding-top: 10px;
    text-align: center;
    width: 200px;
    text-overflow: ellipsis;
}

.items .price{
    display: block;
    color: #000;
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    font-weight: bold;
    padding-top: 10px;
    text-align: center;
    width: 200px;
}

.filters{
    border-bottom:1px solid #EEE;
    margin-bottom:20px;
}
.filters ul{
    margin-left:20px;
}

.filters li{
    padding-right:20px;
    text-align:left;
    font-family:Arial;
    font-size:16px;
    color:#666;
}

.filters select {
    width:140px;
    display:block;
    margin-top:10px;


}

.filters .logo{
    color:#0e79be;
}

.summary .clear{
    float:right;
    margin-right:20px;
}
.summary .results{
    float:left;
    margin-left:20px;
}

.summary .results span{
    font-weight:bold;
}

.sprite-footerimg, .sprite-tv46withprice, .sprite-tv24withprice, .sprite-tv18withprice, .sprite-walmartfooterlogo,
.sprite-walmartlogo, .sprite-logoicon, .sprite-magnifier, .sprite-home, .sprite-cart,
.sprite-person, .sprite-create {
    display:block; background: url(img/tfcspritev.png) no-repeat;
}

.sprite-cart{ background-position: 0 0; width: 16px; height: 19px; }
.sprite-create{ background-position: 0 -29px; width: 16px; height: 16px; }
.sprite-footerimg{ background-position: 0 -55px; width: 310px; height: 304px; }
.sprite-home{ background-position: 0 -369px; width: 20px; height: 24px; }
.sprite-logoicon{ background-position: 0 -403px; width: 55px; height: 34px; }
.sprite-magnifier{ background-position: 0 -447px; width: 23px; height: 24px; }
.sprite-person{ background-position: 0 -481px; width: 18px; height: 18px; }
.sprite-tv18withprice{ background-position: 0 -509px; width: 185px; height: 130px; }
.sprite-tv24withprice{ background-position: 0 -649px; width: 236px; height: 167px; }
.sprite-tv46withprice{ background-position: 0 -826px; width: 304px; height: 216px; }
.sprite-walmartfooterlogo{ background-position: 0 -1052px; width: 184px; height: 55px; }
.sprite-walmartlogo{ background-position: 0 -1117px; width: 186px; height: 54px; }

.footer {
    position:relative; padding:60px 0px; margin:20px 0px;
    background:#0e77bd ;
}

.footer .logo .text {
    color:#fff;
}

.footer .signup {
    position:relative;
    padding:0px 150px;
}

.footer .signup .email {
    position:relative; display:inline-block;
    width:300px; padding: 10px 10px; margin:0px 5px; bottom:0;
    border: 1px solid #cccccc;
    border-radius: 8px 8px 8px 8px;
    font-family:Arial; font-size:16px;
}

.footer .signup .email {
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UzZTNlMyIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlM2UzZTMiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(227,227,227,0.65) 0%, rgba(227,227,227,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(227,227,227,0.65)), color-stop(100%,rgba(227,227,227,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(227,227,227,0.65) 0%,rgba(227,227,227,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(227,227,227,0.65) 0%,rgba(227,227,227,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(227,227,227,0.65) 0%,rgba(227,227,227,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(227,227,227,0.65) 0%,rgba(227,227,227,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6e3e3e3', endColorstr='#00e3e3e3',GradientType=0 ); /* IE6-8 */
    background-color:#fff;
}

.footer .signup .btn {
    position:relative; display:inline-block;
    padding:8px 10px; margin:0px 10px; bottom:0;
    color:#fff; font-size:16px; border-radius:4px;
    border:1px outset #0e77bd; background-color:#0e77bd;
    background: rgb(52,150,236); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM0OTZlYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMDVjODgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(52,150,236,1) 0%, rgba(48,92,136,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(52,150,236,1)), color-stop(100%,rgba(48,92,136,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(52,150,236,1) 0%,rgba(48,92,136,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(52,150,236,1) 0%,rgba(48,92,136,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(52,150,236,1) 0%,rgba(48,92,136,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(52,150,236,1) 0%,rgba(48,92,136,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3496ec', endColorstr='#305c88',GradientType=0 ); /* IE6-8 */
}

.foot {
    margin:50px 0px 35px 35px;
}

.foot .col {
    float:left; width:158px; margin:5px 0px;
}

.foot .col ul {
    list-style:none;
    padding:0px; margin:0px;
}

.foot .col li {
    list-style:none;
    padding:0px; margin:0px;
}

.foot .col a {
    color:#fff; font-family:"Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif; font-size:12px;
    line-height:20px;
}

.foot .col.centre a {
    color:#fff; font-family:"Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif; font-size:26px; white-space:nowrap;
}


.filters .slider .ui-slider {
    background: url(img/bg-slider.png) 0px 0px repeat-x;
    -moz-border-radius: 15px; -webkit-border-radius: 15px; -o-border-radius: 15px; -ms-border-radius: 15px; border-radius: 15px;
}
.filters .slider .ui-slider-horizontal {
    height: 0.7em;
}
.filters .slider .ui-slider-range {
    background: url(img/bg-slider.png) 0px -12px repeat-x;
}

.filters .slider .ui-slider-handle {
    background: url(img/bg-slider-handle.png); width: 15px; height: 29px;
    border: none; top: -0.7em;
}

.filters .slider .ui-slider-handle:after {
    position: absolute; background: url(img/slider-tip.png) no-repeat; top: -50px; left: -24px;
    content: attr(data-value) "\""; width: 63px; text-align: center; padding: 13px 0px 21px 0px;
    display: block; font-size: 1.7em; font-weight: bold; letter-spacing: -1px; color: #333;
    text-shadow: 0px 1px 0px #fff; font-family: "Custom";
}

.filters .slider span {
    display: block; font-size: 1.4em; margin-bottom: 30px; font-weight: bold; margin-top: 14px;
}
.filters .slider a{
    text-decoration: none;
}

.filters .slider {
    padding-top: 16px;
    padding-bottom: 40px;
    padding-right: 11%;
    padding-left: 4%;
    width:200px;
}

