
.tvfhead{
    background-color:white;
    padding-bottom:10px;
    border-bottom:1px solid #EEE;
}

.tvfhead ul{
    margin:5px 0 0;
    padding:0px;
}



.tvfhead .pull-right li{
    margin:5px;
    padding:0 15px 0;
    border-right:2px solid #CCC;

}
.tvfhead .pull-right li span{
    white-space:nowrap;
    font-family:Arial;
    font-weight:bold;
    color:#666;
}
.tvfhead .pull-right li div{
    font: normal 11px Verdana,sans-serif;
    color:lightgrey;
    margin-top:5px;
}
.tvfhead .pull-right li a{
    margin:0;
    padding:0 0 0 20px;
    position:relative;
}
.tvfhead .pull-right li.last{
    border:0;
}

.tvfhead li i{
    position:absolute;
    top:-1px;
    left:2px
}



.tvfhead input[type="search"]{
    margin-top:5px;
    padding:7px 7px 7px 30px;
    border: 1px solid #cccccc;
    border-radius:6px;
    font-family:Arial;
    font-size:18px;
    background: transparent url(img/spyglass.png) no-repeat 0 center;
}
.tvfbc{
    background: #fff;
    display: block;
    padding: 0px 24px;
    margin: 10px 0 0;
    line-height: 1em;
}

.tvfbc span {
    margin:0 15px;
    color:#EEE;
}

.tvfpov {
    font-family:Arial;
    text-align:center;
    vertical-align:middle;
    margin-bottom:40px;
}

.tvfpov h2{
    font-weight:normal;
    font-size:35px;
}
.tvfpov p{
    color:#acacac;
    font-size:19px;
    font-weight:normal;
}
.tvfpov div{
    display:block;
    position:relative;
    clear:both;
    height:226px;
    margin-top:18px;
}
.tvfpov img{
    float:left;
    position:absolute;

}
.tvfpov img.first{
    bottom:5px;
    left:70px;
}

.tvfpov img.second{
    bottom:0;
    left:298px;
}
.tvfpov img.third{
    bottom:0;
    left:569px;
}
.tvfitems{
    text-align: center;
}
.tvfitems ul {
    margin-left:30px;
}
.tvfitems li{
    margin-right:20px;
    padding:0;
    width:206px;
}

.tvfitems .title{
    display: block;
    color: #555;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    font-weight: bold;
    padding-top: 10px;
    text-align: center;
    width: 200px;
    text-overflow: ellipsis;
}

.tvfitems .price{
    font-size: 16px;
    color:black;
    font-weight: bold;
    margin-top:10px;
}

.tvfAction{
    border-bottom:1px solid #EEE;
    margin-bottom:20px;
}
.tvfAction ul{
  margin-left:20px;
}

.tvfAction li{
    padding-right:20px;
    text-align:left;
    font-family:Arial;
    font-size:16px;
    color:#666;
}

.tvfAction select {
    width:140px;
    display:block;
    margin-top:10px;


}

.tvfAction .logo{
    color:#0e79be;
}

.tvfsummary .clear{
    float:right;
    margin-right:20px;
}
.tvfsummary .results{
    float:left;
    margin-left:20px;
}

.tvfsummary .results span{
    font-weight:bold;
}

.sprite-footerimg, .sprite-tv46withprice, .sprite-tv24withprice, .sprite-tv18withprice, .sprite-walmartfooterlogo,
.sprite-walmartlogo, .sprite-logoicon, .sprite-magnifier, .sprite-home, .sprite-cart,
.sprite-person, .sprite-create {
    display:block; background: url(img/tfcspritev.png) no-repeat;
}

.sprite-cart{ background-position: 0 0; width: 16px; height: 19px; }
.sprite-create{ background-position: 0 -29px; width: 16px; height: 16px; }
.sprite-footerimg{ background-position: 0 -55px; width: 310px; height: 304px; }
.sprite-home{ background-position: 0 -369px; width: 20px; height: 24px; }
.sprite-logoicon{ background-position: 0 -403px; width: 55px; height: 34px; }
.sprite-magnifier{ background-position: 0 -447px; width: 23px; height: 24px; }
.sprite-person{ background-position: 0 -481px; width: 18px; height: 18px; }
.sprite-tv18withprice{ background-position: 0 -509px; width: 185px; height: 130px; }
.sprite-tv24withprice{ background-position: 0 -649px; width: 236px; height: 167px; }
.sprite-tv46withprice{ background-position: 0 -826px; width: 304px; height: 216px; }
.sprite-walmartfooterlogo{ background-position: 0 -1052px; width: 184px; height: 55px; }
.sprite-walmartlogo{ background-position: 0 -1117px; width: 186px; height: 54px; }

.tvffooter {
    background:#1A75CF;
    color:white;
    margin-bottom:20px;
}

.tvffooter button{
    float:left;
    margin: 12px 0px 0px 10px;
    padding:7px;
    border-radius:0.9px;
}
.tvffooter form{

    margin-top:10px;
    margin-left:10px;
    padding:0;
    float:left;
}
.tvffooter input[type="search"]{
    padding:7px;
    border: 1px solid #cccccc;
    border-radius:6px;
}

.tvffooter .fform{
    margin:30px 30px 30px 185px;
}

.tvffooter article{
    float:left;
    padding:0 15px;
}

.tvffooter article .first{
    padding-left:20px;
}

.tvffooter a {
    font: 11px/16px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;

    color: white;
}

.tvfslider .slider .ui-slider {
    background: url(img/sliderBar.png) 0px 0px repeat-x;
    -moz-border-radius: 15px; -webkit-border-radius: 15px; -o-border-radius: 15px; -ms-border-radius: 15px; border-radius: 15px;
}

.tvfslider .slider .ui-slider-range {
    background: url(img/sliderBar.png) 0px -12px repeat-x;
}

.tvfslider .slider .ui-slider-handle {
    background: url(img/sliderhdl.gif); width: 15px; height: 29px;
    border: none; top: -0.7em;
}

.tvfslider .slider .ui-slider-handle:after {
    position: absolute; background: url(../images/bg-slider-tip.png) no-repeat; top: -50px; left: -24px;
    content: attr(data-value) "\""; width: 63px; text-align: center; padding: 13px 0px 21px 0px;
    display: block; font-size: 1.7em; font-weight: bold; letter-spacing: -1px; color: #333;
    text-shadow: 0px 1px 0px #fff; font-family: "Custom";
}


#overlay {

    outline: 9999px solid rgba(0, 0, 0, .5);
    position: absolute;
    top: 64px;
    left: 34%;
    width: 54%;
    padding: 2%;
    height: 200%;
    background: white;
    box-shadow: 0px 0px 40px #666;
    display: none;

}

#overlay .close{
    text-align:right;
    background: url(img/close.png); width: 32px; height: 37px;
}
