<div class="container">

<!-- header starts -->
    <header class="tvfhead clearfix">
        <ul class="nav nav-pills pull-right" style="margin-top:5px;">
            <li style="margin:5px;padding:0 15px 0;border-right:2px solid #CCC;">
                <a style="margin:0;padding:0 0 0 20px;position:relative;">
                    <i class="sprite-create" style="position:absolute;top:-1px;left:2px"></i>
                    <span style="white-space:nowrap;font-family:Arial;font-size:bold;color:#666;">
                        Create</span>
               </a>
               <div style="font: normal 11px Verdana,sans-serif;color:lightgrey;margin-top:5px;">a new wishlist</div>

             </li>

            <li style="margin:5px;padding:0 15px 0;border-right:2px solid #CCC;">
                <a style="margin:0;padding:0 0 0 20px;position:relative;">
                    <i class="sprite-person" style="position:absolute;top:-1px;left:2px"></i>
                    <span style="white-space:nowrap;font-family:Arial;font-size:bold;color:#666;">Sign In</span>
               </a>
               <div style="font: normal 11px Verdana,sans-serif;;color:lightgrey;margin-top:5px;">to your account </div>
            </li>

            <li style="margin:5px;padding:0 15px 0;">
                <a style="margin:0;padding:0 0 0 20px;position:relative;">
                    <i class="sprite-cart" style="position:absolute;top:-1px;left:2px"></i>
                    <span style="white-space:nowrap;font-family:Arial;font-size:bold;color:#666;">0 Items</span>
               </a>
               <div style="font: normal 11px Verdana,sans-serif;color:lightgrey;margin-top:5px;">in your cart  </div>
            </li>

        </ul>
        <ul class="nav nav-pills pull-left">
            <li>
                <img alt="Walmart. Save Money. Live Better."  src="img/walmart_logo.gif">
            </li>
            <li>
                <form style="margin-top:10px;padding:0;">
                    <input type="search" class="search-query" placeholder="Search">
                 </form
            </li>
        </ul>
    </header>
<!-- header ends -->
<!-- breadcrumb starts -->
        	<div style="background: #fff; display: block; padding: 0px 24px; margin: 10px 0 0; line-height: 1em;">
        				<a href="http://www.walmart.com/"><img src="img/home.jpg"/></a>

        				<a href="http://www.walmart.com/cp/All-Departments/121828">Departments</a>
        				<span style="margin-left:15px;color:#EEE"> > </span>
        				<a href="http://www.walmart.com/cp/Electronics/3944">Electronics</a>
        				<span style="margin-left:15px;color:#EEE"> > </span>
        				<a class="last" href="http://www.walmart.com/cp/1060825">TV'S</a>
        	</div>



<!-- breadcrumb ends -->




<!-- POV starts -->
    <article class="pov" style="font-family:Arial;text-align:center;vertical-align:middle;margin-bottom:40px;">
       <h2 style="font-weight:normal;font-size:35px;">Get More, For Less</h2>
       <p style="color:#acacac;font-size:19px;font-weight:normal;">Find the perfect Television with our new <span style="color:#0e79be;">TVFinder<sup>TM</sup></span></p>
        <div style="display:block;position:relative;clear:both;height:226px;margin-top:18px;">
            <img alt="TV 18\"." style="float:left;position:absolute;bottom:5px;left:70px;"  src="img/tv18withprice.jpg">
            <img alt="TV 24\"." style="float:left;position:absolute;bottom:0;left:298px;" src="img/tv24withprice.jpg"">
            <img alt="TV 46\"." style="float:left;position:absolute;bottom:0;left:569px;" src="img/tv46withprice.jpg">
           <!-- <i class="sprite-tv18withprice" style="float:left;position:absolute;bottom:0;left:70px;"></i>
            <i class="sprite-tv24withprice" style="float:left;position:absolute;bottom:0;left:298px;"></i>
            <i class="sprite-tv46withprice" style="float:left;position:absolute;bottom:0;left:569px;"></i> -->
        </div>
    </article>

<!-- POV ends -->

<!-- Action Form starts -->
   <form id="tvf_form" name="tvf_form" action="" method="get">


    <article class="tvfAction clearfix" style="border-bottom:1px solid #EEE;margin-bottom:20px;">
        <ul class="nav nav-pills pull-right">
            <li style="padding-right:20px;text-align:left;font-family:Arial;font-size:16px;color:#666">

                             <label>Type</label>
                             <select id = "typeList">
                               <option value = "1">All</option>
                               <option value = "2">LCD</option>
                               <option value = "3">LCD_LED</option>
                               <option value = "4">Plasma</option>
                             </select>
            </li>
            <li style="padding-right:20px;text-align:left;font-family:Arial;font-size:16px;color:#666">
                             <label>Brand</label>
                             <select id = "brandList">
                               <option value = "1">All</option>
                               <option value = "2">Samsung</option>
                               <option value = "3">VIZIO </option>
                               <option value = "4">RCA</option>
                               <option value = "5">Sceptre</option>
                               <option value = "6">Element</option>
                               <option value = "7">HANNspree</option>
                                <option value = "8">Proscan</option>
                                <option value = "9">Sony </option>
                                <option value = "10">Emerson</option>
                             </select>


            </li>
            <li style="padding-right:20px;text-align:left;font-family:Arial;font-size:16px;color:#666">
                               <label>Sort</label>
                               <select id = "sortList">
                                 <option value = "1">Default</option>
                                 <option value = "2">Price</option>
                                 <option value = "3">Size</option>
                                 <option value = "4">Brand</option>
                               </select>
            </li>
        </ul>
        <ul class="nav nav-pills pull-left">
            <li style="margin-top:10px">
                <i class="sprite-logoicon"></i>
                <div style="color:#0e79be;">TVFinder<sup>TM</sup></div>
            </li>
            <li style="margin-left:20px">



    <div style="position:relative;margin-top:30px;">
        <input id="srange" name="srange" type="range" min="1" max="100" value="1">
        <output for="srange" style="left: -0.3px; margin-left: -5.3%;top:-36px; ">1</output>
    </div>

        <!--<span class="range-wrapper">
            <input type="range" data-thumbwidth="14" />
        </span>


                    <div class="slider">
                    	<div>Size</div>
                    	<div class="slide" id="slider">
                    		<div class="range">
                    			<div class="bar" style="margin-left: 5px; margin-right: 0px; "></div>
                    		    <div class="hdl" style="left: -4px;" draggable="true"></div>
                    		    <div class="hdl" style="left: 178px;" draggable="true"></div>
                    		</div>
                    	</div>
                    	<div class="legend">
                    		<div class="left">0</div>
                    		<div class="right">100</div>
                    	</div>
                    </div>
                    -->
            </li>
        </ul>
        </article>
        <article>
                <div class="clearfix" >
                    <span style="float:right;margin-right:20px;">
                        <input type="button" id="clear_filters" value="Clear Filers" style="border-radius:5px;background-color:white;" >
                    </span>
                    <span style="float:left;margin-left:20px;">
                    8 MATCHES FOR TELEVISIONS FITTING THAT CRITERIA
                    </span>
                </div>

    </article>
</form>
  <!-- Action form ends -->

<!-- items starts -->

    <article class="tvfitems">

        {{#collection tag="ul" class="nav nav-pills"}}
		    <li>
			    <a href="http://www.walmart.com/ip/Sceptre-32-X322BV-HD/15739136">
			       <img src="{{image}}" alt="">
			       <span class="title">{{name}}</span>
			    </a>
		    </li>
         {{/collection}}
    </article>

    <!-- Result set summary and items ends -->
    <hr>
<!-- footer starts -->
    <footer style="background:#1A75CF;color:white;margin-bottom:20px;" class="tvffooter clearfix">
       <div style="margin:30px 30px 30px 185px" class="clearfix" >
           <i class="sprite-walmartfooterlogo" style="float:left"></i>
            <form style="margin-top:10px;padding:0;float:left">
                <input type="search" class="search-query" placeholder="Search">
             </form>
           <button style="float:left; margin: 20px 0px 0px 10px;">Sign Up</button>
        </div>
       <article style="float:left;padding:0 15px 0 20px;">
          <ul class="nav">
             <li><a href="http://corporate.walmart.com/?povid=P1576-C1207.1157-L4" title="Corporate">Corporate</a></li>
             <li><a href="http://corporate.walmart.com/our-story/?povid=P1576-C1207.1157-L5" title="Our Story">Our Story</a></li>
             <li><a href="http://news.walmart.com/?povid=P1576-C1207.1157-L6" title="News &amp; Views">News &amp; Views</a></li>
             <li><a href="http://foundation.walmart.com/?povid=P1576-C1207.1157-L7" title="Giving Back">Giving Back</a></li>
             <li><a href="http://corporate.walmart.com/global-responsibility/?povid=P1576-C1207.1157-L8" title="Global Responsibility">Global Responsibility</a></li>
             <li><a href="http://stock.walmart.com/?povid=P1576-C1207.1157-L9" title="Investors">Investors</a></li>
             <li><a href="https://corporate.walmart.com/suppliers/?povid=P1576-C1207.1157-L10" title="Suppliers">Suppliers</a></li>
             <li><a href="http://walmartstores.com/careers?povid=P1576-C1207.1157-L11" title="Careers">Careers</a></li>
          </ul>
       </article>
       <article style="float:left;padding:0 15px;">
          <ul class="nav">
             <li><a href="http://www.walmart.com/catalog/catalog.gsp?cat=542412&amp;povid=P1576-C1207.1157-L12" title="About Walmart.com">About Walmart.com</a></li>
             <li><a href="http://www.walmart.com/catalog/catalog.gsp?cat=538449&amp;povid=P1576-C1207.1157-L13" title="Terms of Use">Terms of Use</a></li>
             <li><a href="http://affiliates.walmart.com/aff_home.jsp?povid=P1576-C1207.1157-L14" title="Affiliate Program">Affiliate Program</a></li>
             <li><a href="http://public.conxport.com/walmart/sponsorship/home.aspx?povid=P1576-C1207.1157-L15" title="Sponsorship Submission">Sponsorship Submission</a></li>
             <li><a href="http://www.walmart.com/catalog/catalog.gsp?cat=538456&amp;povid=P1576-C1207.1157-L16" title="International Customers">International Customers</a></li>
             <li><a href="http://www.walmart.com/cservice/contextual_help_popup.gsp?modId=971879&amp;povid=P1576-C1207.1157-L17" title="About Our Ads">About Our Ads</a></li>
             <li><a href="http://www.walmart.com/popular_searches/index.htm?povid=P1576-C1207.1157-L18" title="Popular Searches">Popular Searches</a></li>
             <li><a href="http://www.walmart.com/cservice/ca_storefinder.gsp?povid=P1576-C1207.1157-L19" title="Store Finder">Store Finder</a></li>
             <li><a href="http://coupons.walmart.com/?povid=P1576-C1207.1157-L20" title="Printable Coupons">Printable Coupons</a></li>
          </ul>
       </article>
       <article style="float:left;padding:0 15px;">
          <ul class="nav">
             <li><a href="http://www.walmart.com/wf.gsp/a_d_registration_flow/landing?povid=P1576-C1207.1157-L21" title="Associate Discounts">Associate Discounts</a></li>
             <li><a href="https://corporate.walmart.com/privacy-security?povid=P1576-C1207.1157-L22" title="Privacy &amp; Security">Privacy &amp; Security</a></li>
             <li><a href="https://corporate.walmart.com/privacy-security/walmart-privacy-policy##?povid=P1576-C1207.1157-L23#CalifRights" title="California Privacy Rights">California Privacy Rights</a></li>
             <li><a href="http://www.walmartlabs.com/?povid=P1576-C1207.1157-L24" title="@Walmart Labs">@WalmartLabs</a></li>
             <li><a href="http://www.walmart.com/catalog/catalog.gsp?cat=121828&amp;povid=P1576-C1207.1157-L25" title="See All Department">See All Department</a></li>
          </ul>
       </article>
       <article style="float:left;padding:0 15px;">
           <ul class="nav ">
             <li><a href="http://www.walmart.com/catalog/catalog.gsp?cat=5436&amp;povid=P1576-C1207.1157-L26" title="Help Center">Help Center</a></li>
             <li><a href="http://www.walmart.com/cservice/li_trackorder.gsp?NavMode=2&amp;povid=P1576-C1207.1157-L27" title="Track Your Order">Track Your Order</a></li>
             <li><a href="http://www.walmart.com/catalog/catalog.gsp?cat=538459&amp;povid=P1576-C1207.1157-L28" title="Returns Policy">Returns Policy</a></li>
             <li><a href="http://www.walmart.com/returns/returns_type.gsp?povid=P1576-C1207.1157-L29" title="Return an Item">Return an Item</a></li>
             <li><a href="https://corporate.walmart.com/recalls?povid=P1576-C1207.1157-L30" title="Product Recalls">Product Recalls</a></li>
             <li><a href="http://www.walmart.com/cservice/cu_comments_online.gsp?cu_heading=8&amp;povid=P1576-C1207.1157-L31" title="Contact Us">Contact Us</a></li>
             <li><a href="https://secure.opinionlab.com/ccc01/comment_card.asp?custom_var=249524036097612114&amp;height=768&amp;povid=P1576-C1207.1157-L32&amp;referer=http%3A%2F%2Fwww.walmart.com%2F&amp;time1=1348429537447&amp;time2=1348429729088&amp;width=1024" title="Feedback">Feedback</a></li>
             </ul>
       </article>
       <article style="float:left;padding:0 15px;">
           <ul class="nav ">
              <li>Walmart Money Center</li>
              <li><i class="sprite-footerimg"></i></li>
           </ul>
       </article>

    </footer>



    <!-- footer ends -->