    <footer style="background:#1A75CF;color:white;margin-bottom:20px;" class="tvffooter clearfix">
       <div style="margin:30px 30px 30px 185px" class="clearfix" >
           <i class="sprite-walmartfooterlogo" style="float:left"></i>
            <form style="margin-top:10px;padding:0;float:left">
                <input type="search" class="search-query" placeholder="Search">
             </form>
           <button style="float:left; margin: 20px 0px 0px 10px;">Sign Up</button>
        </div>
       <article style="float:left;padding:0 15px 0 20px;">
          <ul class="nav">
             <li><a href="http://corporate.walmart.com/?povid=P1576-C1207.1157-L4" title="Corporate">Corporate</a></li>
             <li><a href="http://corporate.walmart.com/our-story/?povid=P1576-C1207.1157-L5" title="Our Story">Our Story</a></li>
             <li><a href="http://news.walmart.com/?povid=P1576-C1207.1157-L6" title="News &amp; Views">News &amp; Views</a></li>
             <li><a href="http://foundation.walmart.com/?povid=P1576-C1207.1157-L7" title="Giving Back">Giving Back</a></li>
             <li><a href="http://corporate.walmart.com/global-responsibility/?povid=P1576-C1207.1157-L8" title="Global Responsibility">Global Responsibility</a></li>
             <li><a href="http://stock.walmart.com/?povid=P1576-C1207.1157-L9" title="Investors">Investors</a></li>
             <li><a href="https://corporate.walmart.com/suppliers/?povid=P1576-C1207.1157-L10" title="Suppliers">Suppliers</a></li>
             <li><a href="http://walmartstores.com/careers?povid=P1576-C1207.1157-L11" title="Careers">Careers</a></li>
          </ul>
       </article>
       <article style="float:left;padding:0 15px;">
          <ul class="nav">
             <li><a href="http://www.walmart.com/catalog/catalog.gsp?cat=542412&amp;povid=P1576-C1207.1157-L12" title="About Walmart.com">About Walmart.com</a></li>
             <li><a href="http://www.walmart.com/catalog/catalog.gsp?cat=538449&amp;povid=P1576-C1207.1157-L13" title="Terms of Use">Terms of Use</a></li>
             <li><a href="http://affiliates.walmart.com/aff_home.jsp?povid=P1576-C1207.1157-L14" title="Affiliate Program">Affiliate Program</a></li>
             <li><a href="http://public.conxport.com/walmart/sponsorship/home.aspx?povid=P1576-C1207.1157-L15" title="Sponsorship Submission">Sponsorship Submission</a></li>
             <li><a href="http://www.walmart.com/catalog/catalog.gsp?cat=538456&amp;povid=P1576-C1207.1157-L16" title="International Customers">International Customers</a></li>
             <li><a href="http://www.walmart.com/cservice/contextual_help_popup.gsp?modId=971879&amp;povid=P1576-C1207.1157-L17" title="About Our Ads">About Our Ads</a></li>
             <li><a href="http://www.walmart.com/popular_searches/index.htm?povid=P1576-C1207.1157-L18" title="Popular Searches">Popular Searches</a></li>
             <li><a href="http://www.walmart.com/cservice/ca_storefinder.gsp?povid=P1576-C1207.1157-L19" title="Store Finder">Store Finder</a></li>
             <li><a href="http://coupons.walmart.com/?povid=P1576-C1207.1157-L20" title="Printable Coupons">Printable Coupons</a></li>
          </ul>
       </article>
       <article style="float:left;padding:0 15px;">
          <ul class="nav">
             <li><a href="http://www.walmart.com/wf.gsp/a_d_registration_flow/landing?povid=P1576-C1207.1157-L21" title="Associate Discounts">Associate Discounts</a></li>
             <li><a href="https://corporate.walmart.com/privacy-security?povid=P1576-C1207.1157-L22" title="Privacy &amp; Security">Privacy &amp; Security</a></li>
             <li><a href="https://corporate.walmart.com/privacy-security/walmart-privacy-policy##?povid=P1576-C1207.1157-L23#CalifRights" title="California Privacy Rights">California Privacy Rights</a></li>
             <li><a href="http://www.walmartlabs.com/?povid=P1576-C1207.1157-L24" title="@Walmart Labs">@WalmartLabs</a></li>
             <li><a href="http://www.walmart.com/catalog/catalog.gsp?cat=121828&amp;povid=P1576-C1207.1157-L25" title="See All Department">See All Department</a></li>
          </ul>
       </article>
       <article style="float:left;padding:0 15px;">
           <ul class="nav ">
             <li><a href="http://www.walmart.com/catalog/catalog.gsp?cat=5436&amp;povid=P1576-C1207.1157-L26" title="Help Center">Help Center</a></li>
             <li><a href="http://www.walmart.com/cservice/li_trackorder.gsp?NavMode=2&amp;povid=P1576-C1207.1157-L27" title="Track Your Order">Track Your Order</a></li>
             <li><a href="http://www.walmart.com/catalog/catalog.gsp?cat=538459&amp;povid=P1576-C1207.1157-L28" title="Returns Policy">Returns Policy</a></li>
             <li><a href="http://www.walmart.com/returns/returns_type.gsp?povid=P1576-C1207.1157-L29" title="Return an Item">Return an Item</a></li>
             <li><a href="https://corporate.walmart.com/recalls?povid=P1576-C1207.1157-L30" title="Product Recalls">Product Recalls</a></li>
             <li><a href="http://www.walmart.com/cservice/cu_comments_online.gsp?cu_heading=8&amp;povid=P1576-C1207.1157-L31" title="Contact Us">Contact Us</a></li>
             <li><a href="https://secure.opinionlab.com/ccc01/comment_card.asp?custom_var=249524036097612114&amp;height=768&amp;povid=P1576-C1207.1157-L32&amp;referer=http%3A%2F%2Fwww.walmart.com%2F&amp;time1=1348429537447&amp;time2=1348429729088&amp;width=1024" title="Feedback">Feedback</a></li>
             </ul>
       </article>
       <article style="float:left;padding:0 15px;">
           <ul class="nav ">
              <li>Walmart Money Center</li>
              <li><i class="sprite-footerimg"></i></li>
           </ul>
       </article>

    </footer>