        {{#items tag="ul" class="nav nav-pills"}}
		    <li>
			    <a href="http://www.walmart.com/ip/Sceptre-32-X322BV-HD/15739136">
			       <img src="{{image}}" alt="">
			       <span class="title">{{name}}</span>
			    </a>
		    </li>
         {{/items}}
