 <div class="slide" id="slider">
     <div class="range">
         <div class="bar" style="margin-left: 5px; margin-right: 0px; "></div>
         <div class="hdl" style="left: -4px;" draggable="true"></div>
         <div class="hdl" style="left: 178px;" draggable="true"></div>
     </div>
</div>